{% extends 'base.html' %}
{% block main %}

    <div class="row">
      <div class="col-md-12">
        <h2>About / FAQ</h2>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Who's running this?</h3>
          </div>
          <div class="panel-body">
            <p>
              This site is run by
              <a href="https://openhumansfoundation.org/">the Open Humans
              Foundation</a> and is covered by Open Humans'
              <a href='https://www.openhumans.org/terms/'>Terms of Use</a> and
              <a href='https://www.openhumans.org/data-use/'>Data Use Policy</a>.
              You can always get in touch with us at
              <a href="mailto:support@openhumans.org">support@openhumans.org</a>.
            </p>
            <p>
              See this project's page on Open Humans:<br><a href='https://www.openhumans.org/activity/link/'>https://www.openhumans.org/activity/link/</a>
            </p>
            <p>
              See this app's code on GitHub:<br><a href='https://github.com/OpenHumans/link'>https://github.com/OpenHumans/link</a>
            </p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">What does this do?</h3>
          </div>
          <div class="panel-body">
            <p>
              This site allows you to connect data from <code>external data source</code> to your Open
              Humans account. After logging in with your Open Humans account you can upload data/link data from <code>external data source</code>.
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">How does it work?</h3>
          </div>
          <div class="panel-body">
            <p>
              You can log in into this site with your Open Humans account.
              This allows us to deposit data in your Open Humans account.
            </p>
            <p>
              After this you can upload data from <code>external data source</code> to put them in your Open Humans account.
            </p>
            <p>
              After this you can connect your <code>external data source</code> account to this site.
              This enables us to access your <code>external data source</code> data. We will automatically
              ask <code>external data source</code> for new data in regular intervals. These data will be
              written into an archive in your Open Humans account.
            </p>
            <p>
              Your data is private by default. Open Humans gives you the
              ability to share data with projects you select, but only if and
              when you choose to do so.
            </p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">What we get from <code>external data source</code></h3>
          </div>
          <div class="panel-body">
          <p>
            Explain in plain language which data we request if it's an API connection. If it's a file upload, explain which data is in the file that's uploaded.
          </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Data management</h3>
          </div>
          <div class="panel-body">
          <p>
            This site can access and store various types of data for visitors
            and associated with connected accounts.
          </p>
          <p>
            When you connect data from <code>external data source</code>, this site will access the
            following data and store it in your Open Humans
            account.
          </p>
          <ol>
            <li>x</li>
            <li>y</li>
            <li>z</li>
            <li>etc.</li>
          </ol>
          <p>
            The site also stores the following data when you connect accounts
            from <code>external data source</code> and Open Humans.
          </p>
          <ol>
            <li>an anonymous identifier for your Open Humans account</li>
            <li>authentication credentials that allow us to read &amp; write data from <code>external data source</code> to Open Humans</li>
            <li>(authentication credentials that allow us to read your data from <code>external data source</code>)</li>
          </ol>
          <p>
            Finally, this site's hoster
            <i><a href='https://www.heroku.com'>Heroku</a></i> stores and gives
            us access to the IP addresses of visitors, and pages visited on
            this site. These logs may be stored for up to a week.
          </p>
          <p>
            You can always delete your account and all associated data from
            the <i>Dashboard</i> when being logged in.
            This includes the Open Humans and <code>external data source</code> authentication credentials,
            i.e. we won't be able to access your Open Humans &amp; <code>external data source</code>
            accounts any longer.
          </p>
          <p>
            Removing the authorization on Open Humans does not automatically
            delete your Oura archive on Open Humans; if you want this to occur,
            you should delete your account here before withdrawing from
            <a href="https://www.openhumans.org/activity/link/">this
            project</a> in the Open Humans site.
          </p>
          </div>
        </div>
      </div>
  </div>

{% endblock %}
